@import '../../variables';



.main-menu-container {

  .title {
    h2 {
      text-align: center;
    }
  }

  .main-menu {
    padding: 16px 0;

    ul.menu-list {
      list-style: none;
      padding: 0;
      width: 220px;
      margin: 0 auto;

      li.list-item {
        margin: 16px 0;
        span.select-indicator {
          min-width: 24px;
          display: inline-block;
        }
        span.select-title {

        }

      }

    }

  }

}